<IfModule mod_rewrite.c>
	RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ slab.php?slab_url=$1&%{QUERY_STRING} [L]
	RewriteRule ^$ slab.php [L]
</IfModule>